label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

h2 {
  font-family: codehack;
}

.left {
  float: left;
}

.right {
  float: right;
}

.spacer {
  flex: 1 1 auto;
}

.trainer-card {
  min-width: 50%;
}

.trainer-card table {
  width: 90%;
  margin: 0px auto;
  max-width: 100vw;
  color: white;
  padding: 0.5em;
  text-align: left;
  flex-direction: row;
}

td {
  height: 80px;
  border: 4px solid #ffffff;
}

.codehack {
  font-family: codehack;
  font-weight: 100;
  font-size: 2em;
  color: #ffffff;
}

.blox {
  font-family: blox;
  font-weight: 100;
  font-size: 1.5em;
  color: #ffffff;
}

.casual-badges {
  background-color: #ef92ff;
}

.veteran-badges {
  background-color: #e552f1;
}

.emblems {
  background-color: #71ff77;
}

.champions {
  background-color: #33eb47;
}

.casual-badges th span.codehack {
  text-shadow:  0px 1px #8efe94,
                1px 1px #8efe94,
                1px 0px #8efe94,
               1px -1px #8efe94,
               0px -1px #8efe94,
              -1px -1px #8efe94,
               -1px 0px #8efe94,
               -1px 1px #8efe94,
                0px 2px #8efe94,
                2px 2px #8efe94,
                2px 0px #8efe94,
               2px -2px #8efe94,
               0px -2px #8efe94,
              -2px -2px #8efe94,
               -2px 0px #8efe94,
               -2px 2px #8efe94;
}

.veteran-badges th span.codehack {
  text-shadow:  0px 1px #4992c6,
                1px 1px #4992c6,
                1px 0px #4992c6,
               1px -1px #4992c6,
               0px -1px #4992c6,
              -1px -1px #4992c6,
               -1px 0px #4992c6,
               -1px 1px #4992c6,
                0px 2px #4992c6,
                2px 2px #4992c6,
                2px 0px #4992c6,
               2px -2px #4992c6,
               0px -2px #4992c6,
              -2px -2px #4992c6,
               -2px 0px #4992c6,
               -2px 2px #4992c6;
}

.casual-badges th span.blox {
  text-shadow:  0px 1px #2f808a,
                1px 1px #2f808a,
                1px 0px #2f808a,
               1px -1px #2f808a,
               0px -1px #2f808a,
              -1px -1px #2f808a,
               -1px 0px #2f808a,
               -1px 1px #2f808a,
                0px 2px #2f808a,
                2px 2px #2f808a,
                2px 0px #2f808a,
               2px -2px #2f808a,
               0px -2px #2f808a,
              -2px -2px #2f808a,
               -2px 0px #2f808a,
               -2px 2px #2f808a;
}

.emblems th span.codehack {
  text-shadow:  0px 1px #206626,
                1px 1px #206626,
                1px 0px #206626,
               1px -1px #206626,
               0px -1px #206626,
              -1px -1px #206626,
               -1px 0px #206626,
               -1px 1px #206626,
                0px 2px #206626,
                2px 2px #206626,
                2px 0px #206626,
               2px -2px #206626,
               0px -2px #206626,
              -2px -2px #206626,
               -2px 0px #206626,
               -2px 2px #206626;
}

.emblems th span.blox {
  text-shadow:  0px 1px #af0996,
                1px 1px #af0996,
                1px 0px #af0996,
               1px -1px #af0996,
               0px -1px #af0996,
              -1px -1px #af0996,
               -1px 0px #af0996,
               -1px 1px #af0996,
                0px 2px #af0996,
                2px 2px #af0996,
                2px 0px #af0996,
               2px -2px #af0996,
               0px -2px #af0996,
              -2px -2px #af0996,
               -2px 0px #af0996,
               -2px 2px #af0996;
}

.champions th span.codehack {
  text-shadow:  0px 1px #023857,
                1px 1px #023857,
                1px 0px #023857,
               1px -1px #023857,
               0px -1px #023857,
              -1px -1px #023857,
               -1px 0px #023857,
               -1px 1px #023857,
                0px 2px #023857,
                2px 2px #023857,
                2px 0px #023857,
               2px -2px #023857,
               0px -2px #023857,
              -2px -2px #023857,
               -2px 0px #023857,
               -2px 2px #023857;
}

.champions th span.blox {
  text-shadow:  0px 1px #33eb46,
                1px 1px #33eb46,
                1px 0px #33eb46,
               1px -1px #33eb46,
               0px -1px #33eb46,
              -1px -1px #33eb46,
               -1px 0px #33eb46,
               -1px 1px #33eb46,
                0px 2px #33eb46,
                2px 2px #33eb46,
                2px 0px #33eb46,
               2px -2px #33eb46,
               0px -2px #33eb46,
              -2px -2px #33eb46,
               -2px 0px #33eb46,
               -2px 2px #33eb46;
}

.badge {
  max-width: 9%;
}

#challengers {
  margin-bottom: 2em;
}
