.codehack {
  font-family: codehack;
  font-weight: 100;
  font-size: 2em;
  color: #ffffff;
}

.blox {
  font-family: blox;
  font-weight: 100;
  font-size: 1.5em;
  color: #ffffff;
}

h2 {
  font-family: codehack;
  font-size: 2em;
  padding: 1em;
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.spacer {
  flex: 1 1 auto;
}

.trainer-card {
  max-width: 100%;
  min-width: 320px;
  padding: 0;
  margin: 0;
}

.header {
  padding: 0.5em;
}

.portraits {
  display: block;
  padding: 0.5em;
  clear: both;
}

.portrait-container {
  border: 2px solid #ffffff;
  display: inline-block;
  text-align: center; /* ensures the image is always in the h-middle */
  overflow-x: hidden;
  overflow-y: visible;
}

.badges {
  display: block;
  padding: 0.5em;
}

img.portrait {
  width: 100px;
  height: 100px;
  position: relative; /* allows repositioning */
  left: 100%; /* move the whole width of the image to the right */
  margin-left: -200%; /* magic! */
}

img.badge, img.emblem {
  display: block;
  height: 25px;
  width: 25px;
  border: 2px solid #ffffff;
  border-radius: 100%;
  margin: 0.5em auto 1em;
  clear: both;
}

.casual {
  background-color: #51b5a2;
}

.casual-badges {
  background-color: #ef92ff;
}

.casual-badges * span.codehack {
  text-shadow:  0px 1px #8efe94,
                1px 1px #8efe94,
                1px 0px #8efe94,
               1px -1px #8efe94,
               0px -1px #8efe94,
              -1px -1px #8efe94,
               -1px 0px #8efe94,
               -1px 1px #8efe94,
                0px 2px #8efe94,
                2px 2px #8efe94,
                2px 0px #8efe94,
               2px -2px #8efe94,
               0px -2px #8efe94,
              -2px -2px #8efe94,
               -2px 0px #8efe94,
               -2px 2px #8efe94;
}

.casual-badges * span.blox {
  text-shadow:  0px 1px #2f808a,
                1px 1px #2f808a,
                1px 0px #2f808a,
               1px -1px #2f808a,
               0px -1px #2f808a,
              -1px -1px #2f808a,
               -1px 0px #2f808a,
               -1px 1px #2f808a,
                0px 2px #2f808a,
                2px 2px #2f808a,
                2px 0px #2f808a,
               2px -2px #2f808a,
               0px -2px #2f808a,
              -2px -2px #2f808a,
               -2px 0px #2f808a,
               -2px 2px #2f808a;
}

.casual-size {
  width: 9.5%;
}

.veteran {
  background-color: #45cd89;
}

.veteran-badges {
  background-color: #e552f1;
}

.veteran-badges * span.codehack {
  text-shadow:  0px 1px #4992c6,
                1px 1px #4992c6,
                1px 0px #4992c6,
               1px -1px #4992c6,
               0px -1px #4992c6,
              -1px -1px #4992c6,
               -1px 0px #4992c6,
               -1px 1px #4992c6,
                0px 2px #4992c6,
                2px 2px #4992c6,
                2px 0px #4992c6,
               2px -2px #4992c6,
               0px -2px #4992c6,
              -2px -2px #4992c6,
               -2px 0px #4992c6,
               -2px 2px #4992c6;
}

.veteran-size {
  width: 8.5%
}

.emblem {
  background-color: #238355;
}

.emblems {
  background-color: #71ff77;
}

.emblems * span.codehack {
  text-shadow:  0px 1px #206626,
                1px 1px #206626,
                1px 0px #206626,
               1px -1px #206626,
               0px -1px #206626,
              -1px -1px #206626,
               -1px 0px #206626,
               -1px 1px #206626,
                0px 2px #206626,
                2px 2px #206626,
                2px 0px #206626,
               2px -2px #206626,
               0px -2px #206626,
              -2px -2px #206626,
               -2px 0px #206626,
               -2px 2px #206626;
}

.emblems * span.blox {
  text-shadow:  0px 1px #af0996,
                1px 1px #af0996,
                1px 0px #af0996,
               1px -1px #af0996,
               0px -1px #af0996,
              -1px -1px #af0996,
               -1px 0px #af0996,
               -1px 1px #af0996,
                0px 2px #af0996,
                2px 2px #af0996,
                2px 0px #af0996,
               2px -2px #af0996,
               0px -2px #af0996,
              -2px -2px #af0996,
               -2px 0px #af0996,
               -2px 2px #af0996;
}

.emblem-size, .champion-size {
  width: 12%
}

.champions {
  background-color: #33eb47;
}

.champion {
  background-color: #003f50;
}

.champions * span.codehack {
  text-shadow:  0px 1px #023857,
                1px 1px #023857,
                1px 0px #023857,
               1px -1px #023857,
               0px -1px #023857,
              -1px -1px #023857,
               -1px 0px #023857,
               -1px 1px #023857,
                0px 2px #023857,
                2px 2px #023857,
                2px 0px #023857,
               2px -2px #023857,
               0px -2px #023857,
              -2px -2px #023857,
               -2px 0px #023857,
               -2px 2px #023857;
}

.champions * span.blox {
  text-shadow:  0px 1px #33eb46,
                1px 1px #33eb46,
                1px 0px #33eb46,
               1px -1px #33eb46,
               0px -1px #33eb46,
              -1px -1px #33eb46,
               -1px 0px #33eb46,
               -1px 1px #33eb46,
                0px 2px #33eb46,
                2px 2px #33eb46,
                2px 0px #33eb46,
               2px -2px #33eb46,
               0px -2px #33eb46,
              -2px -2px #33eb46,
               -2px 0px #33eb46,
               -2px 2px #33eb46;
}

.unearned.portrait-container {
  background-color: #555555;
}

.unearned img {
  opacity: 0.35;
}

#challengers {
  margin-bottom: 2em;
}

@media (min-width: 600px) {
  img.badge, img.emblem {
    display: block;
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 990px) {
  .trainer-card {
    margin-left: 25%;
    margin-right: 25%;
    padding: 0 1em 1em 1em;
  }
}