/* HeroDetailComponent's private CSS styles */
label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.trainer-card table {
  width: 90%;
  margin: 0px auto;
  max-width: 100vw;
  color: white;
  padding: 0.5em;
}
td {
  height: 80px;
  border: 4px solid #ffffff;
}
th span {
  font-family: blox;
  font-weight: 100;
  font-size: 2em;
  color: #ffffff;
}
#challengers {
  margin-bottom: 2em;
}

.badges {
  background-color: #ea77e8;
}

.emblems {
  background-color: #71ff77;
}

.champions {
  background-color: #33eb47;
}

.badges th span {
  text-shadow:  0px 1px #2f808a,
                1px 1px #2f808a,
                1px 0px #2f808a,
               1px -1px #2f808a,
               0px -1px #2f808a,
              -1px -1px #2f808a,
               -1px 0px #2f808a,
               -1px 1px #2f808a,
                0px 2px #2f808a,
                2px 2px #2f808a,
                2px 0px #2f808a,
               2px -2px #2f808a,
               0px -2px #2f808a,
              -2px -2px #2f808a,
               -2px 0px #2f808a,
               -2px 2px #2f808a;
}

.emblems th span {
  text-shadow:  0px 1px #af0996,
                1px 1px #af0996,
                1px 0px #af0996,
               1px -1px #af0996,
               0px -1px #af0996,
              -1px -1px #af0996,
               -1px 0px #af0996,
               -1px 1px #af0996,
                0px 2px #af0996,
                2px 2px #af0996,
                2px 0px #af0996,
               2px -2px #af0996,
               0px -2px #af0996,
              -2px -2px #af0996,
               -2px 0px #af0996,
               -2px 2px #af0996;
}

.champions th span {
  text-shadow:  0px 1px #33eb46,
                1px 1px #33eb46,
                1px 0px #33eb46,
               1px -1px #33eb46,
               0px -1px #33eb46,
              -1px -1px #33eb46,
               -1px 0px #33eb46,
               -1px 1px #33eb46,
                0px 2px #33eb46,
                2px 2px #33eb46,
                2px 0px #33eb46,
               2px -2px #33eb46,
               0px -2px #33eb46,
              -2px -2px #33eb46,
               -2px 0px #33eb46,
               -2px 2px #33eb46;
}

.badge {
  max-width: 9%;
}

/* Badge colors */
.badge1 {
  background-color: #7e6262;
}
.badge2 {
  background-color: #b3ddb8;
}
.badge3 {
  background-color: #21177e;
}
.badge4 {
  background-color: #ad4880;
}
.badge5 {
  background-color: #a0b95b;
}
.badge6 {
  background-color: #6d6d6d;
}
.badge7 {
  background-color: #3ba194;
}
.badge8 {
  background-color: #069111;
}
.badge9 {
  background-color: #c24f0d;
}
.badge10 {
  background-color: #160650;
}
.badge11 {
  background-color: #f1b3bb;
}
.badge12 {
  background-color: #eee9a5;
}
.badge13 {
  background-color: #c583da;
}
.badge14 {
  background-color: #00ffdd;
}
.badge15 {
  background-color: #10bb19;
}
.badge16 {
  background-color: #c40808;
}
.badge17 {
  background-color: #8b006d;
}
.badge18 {
  background-color: #9eb80b;
}


/* Emblem colors */
.emblem1 {
  background-color: #069111;
}
.emblem2 {
  background-color: #b3ddb8;
}
.emblem3 {
  background-color: #8b006d;
}
.emblem4 {
  background-color: #ad4880;
}
.emblem5 {
  background-color: #f1b3bb;
}
.emblem6 {
  background-color: #6d6d6d;
}

/* Champion colors */
.champion1 {
  background-color: #00ffdd;
}
.champion2 {
  background-color: #9eb80b;
}