<div *ngIf="challenger">
    <mat-card class="trainer-card">
        <h2>{{challenger.name | uppercase }}'S TRAINER CARD</h2>
        <div class="casual-badges section">
            <div class="header">
                <span class="codehack left">Casual Gym Leaders</span>
                <span class="blox right">Beat any 8 gym leaders to go on to the elite 6</span>
            </div>
            <div class=leaders-container>
                <div *ngFor="let leader of challenger.casualLeaders" [ngClass]="{'unearned': leader.badgeWon === 0}" class="casual leader-row">
                    <table>
                        <tr>
                            <td class="image-panel">
                                <img class="portrait"
                                        alt="{{ leader.name }}"
                                        src="assets/images/portraits/{{ leader.id }}.png" />
                            </td>
                            <td class="image-panel">
                                <img class="badge"
                                        alt="{{ leader.badgeName }}"
                                        src="assets/images/badges/{{ leader.id }}.png" />
                            </td>
                            <td class="info-panel">
                                <div class="panel">
                                    <tr>
                                        <span>{{ leader.name }}</span>
                                    </tr>
                                    <tr>
                                        <span>{{ leader.badgeName }}</span>
                                    </tr>
                                    <tr>
                                        <span *ngIf="leader.queueOpen === 1"
                                                class="queue queue-open"
                                                matTooltip="This leader is currently taking challengers"
                                                matTooltipPosition="above"
                                                matTooltipClass="tooltip">OPEN</span>
                                        <span *ngIf="leader.queueOpen === 0"
                                        class="queue queue-closed"
                                        matTooltip="This leader is not currently taking challengers"
                                        matTooltipPosition="above"
                                        matTooltipClass="tooltip">CLOSED</span>
                                    </tr>
                                </div>
                            </td>
                            <td class="info-panel bio-panel">
                                <div class>
                                    <span>{{ leader.bio }}</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="veteran-badges section">
            <div class="header">
                <span class="codehack left">Veteran Gym Leaders</span>
            </div>
            <div class=leaders-container>
                <div *ngFor="let leader of challenger.veteranLeaders" [ngClass]="{'unearned': leader.badgeWon === 0}" class="veteran leader-row">
                    <table>
                        <tr>
                            <td class="image-panel">
                                <img class="portrait"
                                        alt="{{ leader.name }}"
                                        src="assets/images/portraits/{{ leader.id }}.png" />
                            </td>
                            <td class="image-panel">
                                <img class="badge"
                                        alt="{{ leader.badgeName }}"
                                        src="assets/images/badges/{{ leader.id }}.png" />
                            </td>
                            <td class="info-panel">
                                <div class="panel">
                                    <tr>
                                        <span>{{ leader.name }}</span>
                                    </tr>
                                    <tr>
                                        <span>{{ leader.badgeName }}</span>
                                    </tr>
                                    <tr>
                                        <span *ngIf="leader.queueOpen === 1"
                                                class="queue queue-open"
                                                matTooltip="This leader is currently taking challengers"
                                                matTooltipPosition="above"
                                                matTooltipClass="tooltip">OPEN</span>
                                        <span *ngIf="leader.queueOpen === 0"
                                        class="queue queue-closed"
                                        matTooltip="This leader is not currently taking challengers"
                                        matTooltipPosition="above"
                                        matTooltipClass="tooltip">CLOSED</span>
                                    </tr>
                                </div>
                            </td>
                            <td class="info-panel bio-panel">
                                <div class>
                                    <span>{{ leader.bio }}</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="elites section">
            <div class="header">
                <span class="codehack left">Elite 6</span>
                <span class="blox right">Beat any 4 elites to go on to the champion</span>
            </div>
            <div class=leaders-container>
                <div *ngFor="let leader of challenger.elites" [ngClass]="{'unearned': leader.badgeWon === 0}" class="elite leader-row">
                    <table>
                        <tr>
                            <td class="image-panel">
                                <img class="portrait"
                                        alt="{{ leader.name }}"
                                        src="assets/images/portraits/{{ leader.id }}.png" />
                            </td>
                            <td class="image-panel">
                                <img class="badge"
                                        alt="{{ leader.badgeName }}"
                                        src="assets/images/badges/{{ leader.id }}.png" />
                            </td>
                            <td class="info-panel">
                                <div class="panel">
                                    <tr>
                                        <span>{{ leader.name }}</span>
                                    </tr>
                                    <tr>
                                        <span>{{ leader.badgeName }}</span>
                                    </tr>
                                    <tr>
                                        <span *ngIf="leader.queueOpen === 1"
                                                class="queue queue-open"
                                                matTooltip="This leader is currently taking challengers"
                                                matTooltipPosition="above"
                                                matTooltipClass="tooltip">OPEN</span>
                                        <span *ngIf="leader.queueOpen === 0"
                                        class="queue queue-closed"
                                        matTooltip="This leader is not currently taking challengers"
                                        matTooltipPosition="above"
                                        matTooltipClass="tooltip">CLOSED</span>
                                    </tr>
                                </div>
                            </td>
                            <td class="info-panel bio-panel">
                                <div class>
                                    <span>{{ leader.bio }}</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="champions section">
            <div class="header">
                <span class="codehack left">Champions</span>
                <span class="blox right">Defeat either champion to enter the ppl online hall of fame</span>
            </div>
            <div class=leaders-container>
                <div *ngFor="let leader of challenger.champions" [ngClass]="{'unearned': leader.badgeWon === 0}" class="champion leader-row">
                    <table>
                        <tr>
                            <td class="image-panel">
                                <img class="portrait"
                                        alt="{{ leader.name }}"
                                        src="assets/images/portraits/{{ leader.id }}.png" />
                            </td>
                            <td class="info-panel">
                                <div class="panel">
                                    <tr>
                                        <span>{{ leader.name }}</span>
                                    </tr>
                                    <tr>
                                        <span>{{ leader.badgeName }}</span>
                                    </tr>
                                    <tr>
                                        <span *ngIf="leader.queueOpen === 1"
                                                class="queue queue-open"
                                                matTooltip="This leader is currently taking challengers"
                                                matTooltipPosition="above"
                                                matTooltipClass="tooltip">OPEN</span>
                                        <span *ngIf="leader.queueOpen === 0"
                                        class="queue queue-closed"
                                        matTooltip="This leader is not currently taking challengers"
                                        matTooltipPosition="above"
                                        matTooltipClass="tooltip">CLOSED</span>
                                    </tr>
                                </div>
                            </td>
                            <td class="info-panel bio-panel">
                                <div class>
                                    <span>{{ leader.bio }}</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </mat-card>
    <br>
    <a id="challengers" mat-raised-button color="primary" href="/online">Back to Challengers</a>
</div>
<br>
<app-challengers *ngIf="!challenger"></app-challengers>

