<div *ngIf="challenger">

    <mat-card class="trainer-card">
        <h2>{{ challenger.name | uppercase }}'S TRAINER CARD</h2>
        <table class="casual-badges" cellspacing="0">
            <tr>
                <th colspan="8">
                    <span class="codehack left">Casual Gym Leaders</span>
                    <span class="blox right">Beat any 8 gym leaders to go on to the elite 6</span>
                </th>
            </tr>
            <tr class="casual">
                <td *ngFor="let badge of ['1','2','3','4','5','6','7','8']" [ngClass]="{'unearned': challenger.badges.indexOf(badge) == -1}" class="badge {{ badge }}"><span></span></td>
            </tr>
        </table>
        <table class="veteran-badges" cellspacing="0">
            <tr>
                <th colspan="8">
                    <span class="codehack left">Veteran Gym Leaders</span>
                </th>
            </tr>
            <tr class="veteran">
                <td *ngFor="let badge of ['9','10','11','12','13','14','15','16']" [ngClass]="{'unearned': challenger.badges.indexOf(badge) == -1}" class="badge {{ badge }}"><span></span></td>
            </tr>
        </table>
        <table class="emblems" cellspacing="0">
            <tr>
                <th colspan="6">
                    <span class="codehack left">Elite 6</span>
                    <span class="blox right">Beat any 4 elites to go on to the champion</span>
                </th>
            </tr>
            <tr id="emblems">
                <td *ngFor="let emblem of ['1','2','3','4','5','6']" [ngClass]="{'unearned': challenger.emblems.indexOf(emblem) == -1}" class="emblem {{ emblem }}"><span></span></td>
            </tr>
        </table>
        <table class="champions" cellspacing="0">
            <tr>
                <th colspan="2">
                    <span class="codehack left">Chamipons</span>
                    <span class="blox right">Collect 8 gym badges and 4 emblems to face the champion</span>
                </th>
            </tr>
            <tr id="champions">
                <td *ngFor="let champion of ['1','2']" [ngClass]="{'unearned': challenger.champions.indexOf(champion) == -1}" class="champion {{ champion }}"><span></span></td>
            </tr>
        </table>
    </mat-card>
</div>
<br>
<a id="challengers" mat-raised-button color="primary" routerLink="/challengers">Challengers</a>

